*{
    color: #FFF;
}

.Form {
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: 1px 5px 25px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 25px 10px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 25px 10px rgba(0,0,0,0.75);
}